[data-theme="light"] {
  --color-rosewater: #dc8a78;
  --color-rosewater-rgb: 220 138 120;
  --color-rosewater-hsl: 10.8 58.824% 66.667%;
  --color-flamingo: #dd7878;
  --color-flamingo-rgb: 221 120 120;
  --color-flamingo-hsl: 0 59.763% 66.863%;
  --color-pink: #ea76cb;
  --color-pink-rgb: 234 118 203;
  --color-pink-hsl: 316.034 73.418% 69.02%;
  --color-mauve: #8839ef;
  --color-mauve-rgb: 136 57 239;
  --color-mauve-hsl: 266.044 85.047% 58.039%;
  --color-red: #d20f39;
  --color-red-rgb: 210 15 57;
  --color-red-hsl: 347.077 86.667% 44.118%;
  --color-maroon: #e64553;
  --color-maroon-rgb: 230 69 83;
  --color-maroon-hsl: 354.783 76.303% 58.627%;
  --color-peach: #fe640b;
  --color-peach-rgb: 254 100 11;
  --color-peach-hsl: 21.975 99.184% 51.961%;
  --color-yellow: #df8e1d;
  --color-yellow-rgb: 223 142 29;
  --color-yellow-hsl: 34.948 76.984% 49.412%;
  --color-green: #40a02b;
  --color-green-rgb: 64 160 43;
  --color-green-hsl: 109.231 57.635% 39.804%;
  --color-teal: #179299;
  --color-teal-rgb: 23 146 153;
  --color-teal-hsl: 183.231 73.864% 34.51%;
  --color-sky: #04a5e5;
  --color-sky-rgb: 4 165 229;
  --color-sky-hsl: 197.067 96.567% 45.686%;
  --color-sapphire: #209fb5;
  --color-sapphire-rgb: 32 159 181;
  --color-sapphire-hsl: 188.859 69.953% 41.765%;
  --color-blue: #1e66f5;
  --color-blue-rgb: 30 102 245;
  --color-blue-hsl: 219.907 91.489% 53.922%;
  --color-lavender: #7287fd;
  --color-lavender-rgb: 114 135 253;
  --color-lavender-hsl: 230.935 97.203% 71.961%;
  --color-text: #4c4f69;
  --color-text-rgb: 76 79 105;
  --color-text-hsl: 233.793 16.022% 35.49%;
  --color-subtext1: #5c5f77;
  --color-subtext1-rgb: 92 95 119;
  --color-subtext1-hsl: 233.333 12.796% 41.373%;
  --color-subtext0: #6c6f85;
  --color-subtext0-rgb: 108 111 133;
  --color-subtext0-hsl: 232.8 10.373% 47.255%;
  --color-overlay2: #7c7f93;
  --color-overlay2-rgb: 124 127 147;
  --color-overlay2-hsl: 232.174 9.623% 53.137%;
  --color-overlay1: #8c8fa1;
  --color-overlay1-rgb: 140 143 161;
  --color-overlay1-hsl: 231.429 10.048% 59.02%;
  --color-overlay0: #9ca0b0;
  --color-overlay0-rgb: 156 160 176;
  --color-overlay0-hsl: 228 11.236% 65.098%;
  --color-surface2: #acb0be;
  --color-surface2-rgb: 172 176 190;
  --color-surface2-hsl: 226.667 12.162% 70.98%;
  --color-surface1: #bcc0cc;
  --color-surface1-rgb: 188 192 204;
  --color-surface1-hsl: 225 13.559% 76.863%;
  --color-surface0: #ccd0da;
  --color-surface0-rgb: 204 208 218;
  --color-surface0-hsl: 222.857 15.909% 82.745%;
  --color-base: #eff1f5;
  --color-base-rgb: 239 241 245;
  --color-base-hsl: 220 23.077% 94.902%;
  --color-mantle: #e6e9ef;
  --color-mantle-rgb: 230 233 239;
  --color-mantle-hsl: 220 21.951% 91.961%;
  --color-crust: #dce0e8;
  --color-crust-rgb: 220 224 232;
  --color-crust-hsl: 220 20.69% 88.627%;
}

[data-theme="dark"] {
  --color-rosewater: #f5e0dc;
  --color-rosewater-rgb: 245 224 220;
  --color-rosewater-hsl: 9.6 55.556% 91.176%;
  --color-flamingo: #f2cdcd;
  --color-flamingo-rgb: 242 205 205;
  --color-flamingo-hsl: 0 58.73% 87.647%;
  --color-pink: #f5c2e7;
  --color-pink-rgb: 245 194 231;
  --color-pink-hsl: 316.471 71.831% 86.078%;
  --color-mauve: #cba6f7;
  --color-mauve-rgb: 203 166 247;
  --color-mauve-hsl: 267.407 83.505% 80.98%;
  --color-red: #f38ba8;
  --color-red-rgb: 243 139 168;
  --color-red-hsl: 343.269 81.25% 74.902%;
  --color-maroon: #eba0ac;
  --color-maroon-rgb: 235 160 172;
  --color-maroon-hsl: 350.4 65.217% 77.451%;
  --color-peach: #fab387;
  --color-peach-rgb: 250 179 135;
  --color-peach-hsl: 22.957 92% 75.49%;
  --color-yellow: #f9e2af;
  --color-yellow-rgb: 249 226 175;
  --color-yellow-hsl: 41.351 86.047% 83.137%;
  --color-green: #a6e3a1;
  --color-green-rgb: 166 227 161;
  --color-green-hsl: 115.455 54.098% 76.078%;
  --color-teal: #94e2d5;
  --color-teal-rgb: 148 226 213;
  --color-teal-hsl: 170 57.353% 73.333%;
  --color-sky: #89dceb;
  --color-sky-rgb: 137 220 235;
  --color-sky-hsl: 189.184 71.014% 72.941%;
  --color-sapphire: #74c7ec;
  --color-sapphire-rgb: 116 199 236;
  --color-sapphire-hsl: 198.5 75.949% 69.02%;
  --color-blue: #89b4fa;
  --color-blue-rgb: 137 180 250;
  --color-blue-hsl: 217.168 91.87% 75.882%;
  --color-lavender: #b4befe;
  --color-lavender-rgb: 180 190 254;
  --color-lavender-hsl: 231.892 97.368% 85.098%;
  --color-text: #cdd6f4;
  --color-text-rgb: 205 214 244;
  --color-text-hsl: 226.154 63.934% 88.039%;
  --color-subtext1: #bac2de;
  --color-subtext1-rgb: 186 194 222;
  --color-subtext1-hsl: 226.667 35.294% 80%;
  --color-subtext0: #a6adc8;
  --color-subtext0-rgb: 166 173 200;
  --color-subtext0-hsl: 227.647 23.611% 71.765%;
  --color-overlay2: #9399b2;
  --color-overlay2-rgb: 147 153 178;
  --color-overlay2-hsl: 228.387 16.757% 63.725%;
  --color-overlay1: #7f849c;
  --color-overlay1-rgb: 127 132 156;
  --color-overlay1-hsl: 229.655 12.775% 55.49%;
  --color-overlay0: #6c7086;
  --color-overlay0-rgb: 108 112 134;
  --color-overlay0-hsl: 230.769 10.744% 47.451%;
  --color-surface2: #585b70;
  --color-surface2-rgb: 88 91 112;
  --color-surface2-hsl: 232.5 12% 39.216%;
  --color-surface1: #45475a;
  --color-surface1-rgb: 69 71 90;
  --color-surface1-hsl: 234.286 13.208% 31.176%;
  --color-surface0: #313244;
  --color-surface0-rgb: 49 50 68;
  --color-surface0-hsl: 236.842 16.239% 22.941%;
  --color-base: #1e1e2e;
  --color-base-rgb: 30 30 46;
  --color-base-hsl: 240 21.053% 14.902%;
  --color-mantle: #181825;
  --color-mantle-rgb: 24 24 37;
  --color-mantle-hsl: 240 21.311% 11.961%;
  --color-crust: #11111b;
  --color-crust-rgb: 17 17 27;
  --color-crust-hsl: 240 22.727% 8.627%;
}

* {
  background-color: var(--color-base);
  color: var(--color-text);
  border: var(--color-overlay0);
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--color-text);
}

@font-face {
  font-family: "Vergilia";
  font-style: normal;
  font-weight: normal;
  src: local("Vergilia Regular"), url("Vergilia-mL6aa.woff") format("woff");
}

body {
  font-family: "Allerta", sans-serif;
  background-color: var(--color-base);
  color: var(--color-text);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

h1 {
  text-align: center;
  width: 50%;
  background-color: var(--color-mantle);
  padding: 15px;
  margin: 3rem auto 5rem auto;
  border-radius: 2rem;
  top: 0;
  font-family: Vergilia;
  transition: 0.5s var(--color-base);
}

.header {
  width: auto;
  margin: 3rem auto 5rem auto;
  padding: 15px;
  display: block;
  width: 50%;
}

p {
  color: var(--color-text);
  padding: 10px;
  margin-left: auto;
  font-family: "Allerta";
}

.sidenav {
  /* Sidebar */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-crust);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 10px 0 0;
  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-text);
    background-color: var(--color-crust);
    display: block;
    transition: 0.3s;
  }
  & .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

span.size-30 {
  font-size: 30px;
  font-variation-settings: "OPSZ" 30, "FILL" 1;
}

.menico {
  /* Sidebar icons */
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 8px 8px 8px 32px;
  color: var(--color-text);
  background-color: var(--color-crust);
  transition: bacground-color 0.3s ease, color 0.3s ease,
    border-radius 0.7s ease;
  a {
    padding: 8px 8px 8px 1px;
  }
  .inmen {
    background-color: var(--color-crust);
    color: var(--color-text);
    transition: bacground-color 0.3s ease, color 0.3s ease;
  }
}

.menico:hover {
  background-color: var(--color-base);
  color: var(--color-subtext0);
  border-radius: 100px;
}

.menico:hover .inmen {
  background-color: var(--color-base);
  color: var(--color-subtext0);
}

.dropdwn {
  /* Settings menu */
  float: right;
  display: block;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  width: auto;
  list-style: none;
  padding: 8px 8px 8px 8px;
  justify-content: center;
  align-items: center;
  & li ul {
    /* dropdown bckgrnd */
    background: var(--color-surface0);
    float: left;
    height: 0;
    opacity: 0;
    width: 67.5%;
    right: auto;
    transition: all 0.3s ease-in-out;
    left: 1;
    position: absolute;
    padding: 8px 32px 8px 8px;
    top: auto;
    list-style: none;
    border-radius: 10px;
  }
  & ul li * {
    /* dropdown text */
    width: auto;
    position: relative;
    text-align: left;
    color: var(--color-text);
    display: none;
    font-size: 16px;
    padding: 8px 1rem 8px 0;
    background: var(--color-surface0);
    height: 0;
    opacity: 0;
    cursor: pointer;
    font-family: "Allerta";
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--color-subtext0);
      background-color: var(--color-surface1);
    }
  }
  li:hover {
    ul {
      height: 8em;
      opacity: 1;
      transform: translateY(0);
    }
    li * {
      height: auto;
      opacity: 1;
      transform: translateY(0);
      display: block;
    }
  }
  > li > .icons {
    display: flex;
    text-align: center;
    & > a {
      display: block;
      padding: 8px 8px 8px 1px;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      font-size: 25px;
    }
    & > span {
      margin-top: 8px;
    }
    a + span {
      padding: 0 1px;
      transition: 0.3s ease;
      position: relative;
      align-self: center;
    }
  }
  :hover a + span {
    rotate: z 180deg;
  }
}

button {
  text-align: center;
  font-size: 25px;
  padding: 0.5rem 1rem;
  transition: all var(--global-transition-time) ease-in-out;
  cursor: pointer;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  align-items: center;
  span {
    /* Menu button */
    background-color: var(--color-mantle);
    color: var(--color-text);
    padding: 10px;
    transition: 0s ease;
    border-radius: 20px;
  }
}

.hidden {
  opacity: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

img {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 1em auto;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 1px solid var(--color-overlay0);
  border-radius: 3px;
  & img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
  & h2 {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
  }
  & h3 {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    color: var(--color-subtext0);
  }
  & .content {
    padding: 0.5rem;
  }
  & p {
    text-align: center;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-left: 10px;
  font-size: 15px;
  background-color: var(--color-base);
  & p {
    color: var(--color-subtext0);
  }
}
